modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.development]
NODE_ENV = "development"

[workflows]

[[workflows.workflow]]
name = "Start aplication"
mode = "sequential"
author = 51072480

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
