modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["openjdk17", "android-tools", "imagemagick", "glib", "nspr", "nss", "dbus", "at-spi2-atk", "cups", "libxkbcommon", "at-spi2-core", "xorg.libXcomposite", "xorg.libXdamage", "xorg.libXext", "xorg.libXfixes", "xorg.libXrandr", "mesa", "cairo", "pango", "alsa-lib", "libgbm"]

[agent]
integrations = ["javascript_database:1.0.0", "resend:1.0.0"]

[workflows]

[[workflows.workflow]]
name = "Start application"
mode = "sequential"
author = 53119234

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 5000
externalPort = 5000
